{% extends 'ip_manage.html' %}
{% block showpage %}
<form class="form-horizontal" role="form" method="post" >
{% if ip_info %}

  <div class="control-group">
    <label class="control-label">基站名</label>
    <div class="controls">
      <input type="text" class="input-block-level" name="basename" value="{{ip_info.basename}}"></div>
  </div>
  <div class="control-group">
    <label class="control-label">IP地址</label>
    <div class="controls">
      <p class="control-label">{{ip_info.ipaddr}}</p></div>
  </div>
  <div class="control-group">
    <label class="control-label">端口</label>
    <div class="controls">
      <input type="text" class="input-block-level" name="ports" value="{{ip_info.ports}}"></div>
  </div>
  <div class="control-group">
    <label class="control-label">协议类型</label>
    <div class="controls">
      <input type="text" class="input-block-level" name="ostype" value="{{ip_info.ostype}}"></div>
  </div>

  <div class="control-group">
    <label class="control-label">频率</label>
    <div class="controls">
      <input type="text" class="input-block-level" name="rate" value="{{ip_info.rate}}"></div>
  </div>
  <div class="control-group">
    <label class="control-label">状态</label>
    <div class="controls">
      <input type="text" class="input-block-level" name="status" value="{{ip_info.status}}"></div>
  </div>
{% else %}

  <div class="control-group">
    <label class="control-label">基站名</label>
    <div class="controls">
      <input type="text"  placeholder="4-5个大写字母" name="basename" pattern="[A-Z]{4,5}"required="required"></div>
  </div>
  <div class="control-group">
    <label class="control-label">IP地址</label>
    <div class="controls">
      <input type="text" class="input-block-level" placeholder="127.0.0.1" name="ipaddr" pattern="((1\d\d|2[0-4]\d|[1-9]\d|\d|25[0-5]).){3}(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[1-9])"  required="required"  ></div>
  </div>

  <div class="control-group">
    <label class="control-label">端口</label>
    <div class="controls">
      <input type="text"  placeholder="4个数字" name="ports" pattern="\d{4}" oninvalid="setCustomValidity('必须4位数字');" required="required"></div>
  </div>
  <div class="control-group">
    <label class="control-label">协议类型</label>
    <div class="controls">
      <!--<input type="text" class="input-block-level" name="ostype"></div>-->
      <select  required="required" name="ostype">
      <option value="client" selected="selected"(默认选中项)>TCPclient</option>
      <option value="server">TCPserver</option>
      <option value="Ntrip">NtripClient</option>
      </select></div>
  </div>
  <div class="control-group">
    <label class="control-label">接入频率</label>
    <div class="controls">
      <!--<input type="text" class="input-block-level"  placeholder="1s" name="rate" required="required"></div>-->
      <select  required="required"name="rate" >
      <option value="1s">1s</option>
      <option value="15s">15s</option>
      <option value="30s">30s</option>
      </select></div>
  </div>
  <div class="control-group">
    <label class="control-label">状态</label>
    <div class="controls">
      <input type="text"  name="status" value="OFF" required="required" readonly="readonly"></div>
  </div>

  <script type="text/javascript">

function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);return false}
  else {return true}
  }
}
</script>

{% endif %}

  <div class="control-group">
    <div class="controls">
      <p style="color:red" >{{ add_error }}</p>
      <button type="submit" class="btn" >提交</button>
      <a class="btn" href="/add_ip/">取消</a>
      <!--<a class="btn" href="/ip_manage/">取消</a>-->
    </div>
  </div>
</form>

{% endblock %}